.progress-bar > .bar {
    -fx-padding:0;
    -fx-background-radius:0;
    -fx-background-insets: 0;
    -fx-background-color: #1db954;
}

.progress-bar > .track {
   -fx-background-color: #2c2c2c;
   -fx-background-radius:0;
   -fx-background-insets: 0, 1;

}

.slider > .track {
    -fx-background-color: #1db954;
    -fx-padding: 1;
}

.slider > .thumb {
    -fx-background-color: #1db954;
    
}